.add-task-container {
  margin-bottom: 6px;
  margin-top: 6px;
  .add-task-box {
    display: flex;
    flex-direction: column;
    .add-title {
      height: 25px;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .add-description {
      font-size: 14px;
      margin-bottom: 15px;
      resize: none;
    }
    .add-button {
      width: 100px;
      font-size: 14px;
      padding: 8px 10px;
      background: lightgray;
      color: black;
      font-weight: 700;
      border: none;
      border-radius: 2px;
    }
    .update-button {
      width: 100px;
      font-size: 14px;
      padding: 4px 5px;
      background: lightgray;
      color: black;
      font-weight: 700;
      border: none;
      border-radius: 2px;
      margin-right: 10px;
    }
    .edit-title {
      font-size: 14px;
      margin-bottom: 10px;
      padding: 2px 5px;
    }
    .edit-description {
      font-size: 14px;
      margin-bottom: 10px;
      padding: 2px 5px;
      resize: none;
    }
  }
}
